@import 'src/styles/mixins';

.wrapper {
    @include media-rules(desktop) {
        display: flex;
    }
}

.appBar {
    @include transition(opacity);

    @include media-rules(desktop) {
        flex: 1;
    }
}
.active {
    composes: appBar;
    opacity: 0.5;
}
