@import 'src/styles/mixins';

.react-select-container {
    & .react-select {
        &__control {
            justify-content: center;
            gap: 4px;
            cursor: pointer;
        }
        &__value-container {
            font-size: 14px;
            line-height: 1.5;
        }
        &__indicator svg {
            width: 16px;
            height: 16px;
        }
        &__menu {
            position: absolute;
            top: calc(100% + 6px);
            right: 0;
            min-width: 100px;
            background-color: var(--theme-default-select-bg);
            border-radius: 8px;
            border: 1px solid var(--theme-default-select-boarder);
            padding: 18px;
        }

        &__menu-list {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        &__option {
            font-size: 14px;
            cursor: pointer;
            @include transition(color);

            &:is(:hover, :focus) {
                color: var(--thema-default-option-hover-cl);
            }

            &--is-selected {
                color: var(--thema-default-option-hover-cl);
            }
        }
    }
}
