.react-calendar {
    background-color: var(--theme-default-input-bg);
    border: 1px solid var(--theme-default-button-bg);

    & .react-datepicker__header {
        background-color: var(--theme-default-input-bg);
        border-bottom: none;
    }

    & .react-datepicker__month-container {
        padding: 18px;
    }

    & .react-datepicker__current-month {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: var(--theme-default-body);
        border-bottom: 1px solid var(--theme-default-card-board);
        padding-bottom: 14px;
    }

    & .react-datepicker__day-names {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: var(--thema-default-filter-modal-show-cl);
        padding-top: 14px;
    }

    & .react-datepicker__day-name {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: var(--thema-default-filter-modal-show-cl);
    }

    & .react-datepicker__navigation--next {
        top: 20px;
    }

    & .react-datepicker__navigation--previous {
        top: 20px;
    }

    & .react-datepicker__week {
        display: flex;
        justify-content: space-between;
    }

    & .react-datepicker__day {
        color: var(--theme-default-body);
        cursor: pointer;

        &--disabled {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            letter-spacing: -0.02em;
            color: var(--theme-default-card-board);
        }

        &--selected,
        &:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--theme-default-input-bg);
            background-color: var(--theme-default-button-bg);
            border-radius: 50%;
        }
    }

    & .react-datepicker__day--keyboard-selected,
    .react-datepicker__month-text--keyboard-selected,
    .react-datepicker__quarter-text--keyboard-selected,
    .react-datepicker__year-text--keyboard-selected {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--theme-default-input-bg);
        background-color: var(--theme-default-button-bg);
        border-radius: 50%;
    }
}

.react-datepicker__navigation-icon--previous::before {
    transform: rotate(225deg);
    right: -7px;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
    border-color: var(--thema-default-filter-btn-cl);
    width: 6px;
    height: 6px;
}
.date_picker_input {
    cursor: pointer;
}
