@import 'src/styles/mixins.scss';

.logoContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;

  @include media-rules(tablet) {
    padding-left: 24px;
    padding-right: 24px;
    }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: var(--theme-default-logo-bg);
}

.logoIcon {
  width: 16px;
  fill: var(--theme-default-logo-color);
}

.logoTitle {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: var(--theme-default-sidebar-text);
}