@import 'src/styles/mixins.scss';

.head {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 39px;

    @include media-rules(tablet) {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    @include media-rules(desktop) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.btn {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--thema-default-filter-btn-cl);
    align-items: center;
    gap: 8px;
}

.filterIcon {
    width: 16px;
    height: 16px;
    stroke: var(--thema-default-filter-icon-cl);
    fill: transparent;
}

.boardName {
    font-weight: 500;
    letter-spacing: -0.02em;
    @include media-rules(tablet) {
        font-size: 18px;
    }
}
