.cartList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.head {
    display: flex;
    gap: 34px;
}

.right {
    display: flex;
    overflow: auto;
    // gap: 34px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 334px;
}
