@import 'src/styles/mixins.scss';

.backgroundsContainer {
  width: 252px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 40px;
}

.backgroundsRadioInput {
  display: none;
}

.radioLabel input:checked+.radioImage {
  border: 1px solid var(--dark-green);
}

.radioImage {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  cursor: pointer;
}