@import 'src/styles/mixins.scss';

.radioGroup {
    display: flex;
    flex-wrap: wrap;
    width: 252px;
    gap: 4px;
}

.input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    border: 2px solid transparent;
}

.icon {
    width: 14px;
    height: 14px;
    stroke: grey;
    background-color: transparent;
    fill: transparent;
}

.input:checked + .label .image {
    border-color: var(--light-green);
}
