@import "src/styles/mixins";

.container {
    max-width: $mobile;
    padding: 0 20px;
    margin: 0 auto;

    @include media-rules(tablet) {
        max-width: $tablet;
        padding: 0 32px;
    }

    @include media-rules(desktop) {
        max-width: $desktop;
        padding: 0 24px;
    }
}