@import 'src/styles/mixins';

.startPage {
    display: flex;
    justify-content: space-around;
    // justify-content: center;
    // align-items: center;
    // height: 90vh;
    // ///////
    // position: relative;
    // height: 100vh;
    // width: 335px;
}

.text {
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--dark-grey);
    margin-top: 258px;

    @include media-rules(tablet) {
        font-size: 14px;
        line-height: 129%;
        width: 486px;
    }
}

.span {
    color: var(--light-green);
    cursor: pointer;
}
