@import 'src/styles/mixins.scss';

.linkFlex {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.linkItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;

    &:global(.active) {
        background-color: var(--theme-default-link-bg, 0.4);

        &::after {
            content: '';
            position: absolute;
            width: 4px;
            height: 100%;
            right: 0;
            top: 0;
            background-color: var(--theme-default-indicator-color);
            border-radius: 4px 0 0 4px;
        }

        & .linkTitle {
            color: var(--theme-default-link-text);
        }

        & .svgIcon {
            stroke: var(--theme-default-link-text);
        }

        & .control {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.linkWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.svgIcon {
    width: 18px;
    height: 18px;
    stroke: var(--theme-default-controlicon-color);
}

.linkTitle {
    font-family: var(--font-family);
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--theme-default-controlicon-color);
}

.control {
    display: none;
}

.controlButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlIcon {
    width: 16px;
    height: 16px;
    fill: transparent;
    stroke: var(--theme-default-controlicon-color);
    @include transition(all);
}

.controlIcon:hover {
    stroke: var(--theme-default-button-bg);
}
