@import 'src/styles/mixins';

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & input {
        width: 100%;
        height: 49px;
        border: 1px solid var(--theme-default-edit-user);
        background-color: transparent;
        border-radius: 8px;
        outline: transparent;
        letter-spacing: -0.02em;
        color: var(--thema-default-filter-title-cl);
        // box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
        @include transition(border-color);
        padding: 0 54px 0 18px;

        &:focus {
            border-color: var(--thema-default-option-hover-cl);
        }
        & .eyeIcon {
            width: 18px;
            height: 18px;
            fill: transparent;
            stroke: rgba(255, 255, 255, 0.4);
        }
    }
    & .input {
        display: contents;
    }
    & .boxUpload {
        position: relative;
    }
    & label {
        position: absolute;
        left: 30%;
        bottom: -18%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        background-color: var(--theme-default-select-border);
        border-radius: 6px;
    }
    & .iconPlus {
        stroke: var(--black);
        width: 10px;
        height: 10px;
        cursor: pointer;
    }
    & .fields {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 24px;
        margin-bottom: 24px;
        width: 100%;
    }
}
.passwordField {
    position: relative;
}
.eye {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    cursor: pointer;
}
.eyeIcon {
    width: 18px;
    height: 18px;
    fill: transparent;
    stroke: rgba(255, 255, 255, 0.4);
}
