@import 'src/styles/mixins.scss';

.radioGroup {
    display: flex;
    gap: 8px;
}

.input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon {
    width: 18px;
    height: 18px;
    stroke: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.input:checked + .label .icon {
    stroke: rgba(255, 255, 255, 1);
}
