@import 'reset';
@import 'fonts';

:root {
    //colors
    --white: #ffffff;
    --light-green: #bedbb0;
    --dark-green: #9dc888;
    --black: #161616;
    --blue: #8fa1d0;
    --rose: #e09cb5;
    --black-form: #151515;
    --dark-bg: #1f1f1f;
    --dark-bg-sidebar: #121212;
    --dark-grey: rgba(255, 255, 255, 0.5);
    --light-grey: rgba(255, 255, 255, 0.3);
    --dark-grey-line: rgba(255, 255, 255, 0.1);
    --light-bg: #f6f6f7;
    --violet-bg: #ecedfd;
    --dark-violet: #5255bc;
    --light-violet: #7b7ede;

    //fonts
    --font-family: 'Poppins';

    /* THEMES */
    --theme-light-body: var(--black);
    --theme-dark-body: var(--white);
    --theme-violet-body: var(--black);
    --theme-default-body: var(--theme-dark-body);

    //Header
    --theme-light-header-bg: #fcfcfc;
    --theme-dark-header-bg: var(--black);
    --theme-violet-header-bg: var(--white);
    --theme-default-header-bg: var(--theme-dark-header-bg);

    //Thema select
    --theme-light-select-bg: #fcfcfc;
    --theme-dark-select-bg: var(var(--black-form));
    --theme-violet-select-bg: #fcfcfc;
    --theme-default-select-bg: var(--theme-dark-select-bg);

    --theme-light-select-border: var(--light-green);
    --theme-dark-select-border: var(--light-green);
    --theme-violet-select-border: var(--violet-bg);
    --theme-default-select-border: var(--theme-dark-select-border);

    --thema-light-option-hover-cl: var(--light-green);
    --thema-dark-option-hover-cl: var(--light-green);
    --thema-violet-option-hover-cl: var(--dark-violet);
    --thema-default-option-hover-cl: var(--thema-dark-option-hover-cl);

    //Sidebar
    --theme-light-sidebar-bg: var(--white);
    --theme-dark-sidebar-bg: var(--dark-bg-sidebar);
    --theme-violet-sidebar-bg: var(--dark-violet);
    --theme-default-sidebar-bg: var(--theme-dark-sidebar-bg);

    --theme-light-sidebar-text: var(--black);
    --theme-dark-sidebar-text: var(--white);
    --theme-violet-sidebar-text: var(--white);
    --theme-default-sidebar-text: var(--theme-dark-sidebar-text);

    --theme-light-logo-color: var(--white);
    --theme-dark-logo-color: var(--white);
    --theme-violet-logo-color: var(--dark-violet);
    --theme-default-logo-color: var(--theme-dark-logo-color);

    --theme-light-logo-bg: var(--black);
    --theme-dark-logo-bg: var(--dark-bg);
    --theme-violet-logo-bg: var(--white);
    --theme-default-logo-bg: var(--theme-dark-logo-bg);

    --theme-light-link-bg: var(--light-bg);
    --theme-dark-link-bg: var(--dark-bg);
    --theme-violet-link-bg: var(--dark-grey);
    --theme-default-link-bg: var(--theme-dark-link-bg);

    --theme-light-link-text: var(--black);
    --theme-dark-link-text: var(--white);
    --theme-violet-link-text: var(--white);
    --theme-default-link-text: var(--theme-dark-link-text);

    --theme-light-indicator-color: var(--light-green);
    --theme-dark-indicator-color: var(--light-green);
    --theme-violet-indicator-color: var(--white);
    --theme-default-indicator-color: var(--theme-dark-indicator-color);

    --theme-light-createbutton-color: var(--black);
    --theme-dark-createbutton-color: var(--black);
    --theme-violet-createbutton-color: var(--white);
    --theme-default-createbutton-color: var(--theme-dark-createbutton-color);

    --theme-light-createbutton-bg: var(--light-green);
    --theme-dark-createbutton-bg: var(--light-green);
    --theme-violet-createbutton-bg: #b8bcfd;
    --theme-default-createbutton-bg: var(--theme-dark-createbutton-bg);

    --theme-light-createbutton-focusbg: var(--dark-green);
    --theme-dark-createbutton-focusbg: var(--dark-green);
    --theme-violet-createbutton-focusbg: #979cea;
    --theme-default-createbutton-focusbg: var(--theme-dark-createbutton-focusbg);

    --theme-light-needhelp-bg: var(--light-bg);
    --theme-dark-needhelp-bg: var(--dark-bg);
    --theme-violet-needhelp-bg: rgba(236, 237, 253, 0.4);
    --theme-default-needhelp-bg: var(--theme-dark-needhelp-bg);

    //Modal
    --theme-light-modal-bg: var(--white);
    --theme-dark-modal-bg: var(--black);
    --theme-violet-modal-bg: var(--white);
    --theme-default-modal-bg: var(--theme-dark-modal-bg);

    --theme-light-modal-color: var(--black);
    --theme-dark-modal-color: var(--white);
    --theme-violet-modal-color: var(--black);
    --theme-default-modal-color: var(--theme-dark-modal-color);

    --theme-light-input-bg: var(--white);
    --theme-dark-input-bg: var(--dark-bg);
    --theme-violet-input-bg: var(--white);
    --theme-default-input-bg: var(--theme-dark-input-bg);

    --theme-light-button-bg: var(--light-green);
    --theme-dark-button-bg: var(--light-green);
    --theme-violet-button-bg: var(--dark-violet);
    --theme-default-button-bg: var(--theme-dark-input-bg);

    --theme-light-button-text: var(--black);
    --theme-dark-button-text: var(--black);
    --theme-violet-button-text: var(--white);
    --theme-default-button-text: var(--theme-dark-button-text);
}

body {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--theme-default-body);
    background-color: var(--dark-bg);
    overflow-x: hidden;
}
