@import 'reset';
@import 'fonts';

:root {
    //colors
    --white: #ffffff;
    --light-green: #bedbb0;
    --dark-green: #9dc888;
    --black: #161616;
    --blue: #8fa1d0;
    --rose: #e09cb5;
    --black-form: #151515;
    --dark-bg: #1f1f1f;
    --dark-bg-sidebar: #121212;
    --dark-grey: rgba(255, 255, 255, 0.5);
    --light-grey: rgba(255, 255, 255, 0.3);
    --dark-grey-line: rgba(255, 255, 255, 0.1);
    --light-bg: #f6f6f7;
    --violet-bg: #ecedfd;
    --dark-violet: #5255bc;
    --light-violet: #7b7ede;

    //fonts
    --font-family: 'Poppins';

    /* THEMES */
    --theme-light-body: var(--black);
    --theme-dark-body: var(--white);
    --theme-violet-body: var(--black);
    --theme-default-body: var(--theme-dark-body);

    --thema-light-bg-cl: var(--light-bg);
    --thema-dark-bg-cl: var(--dark-bg);
    --thema-violet-bg-cl: var(--violet-bg);
    --thema-default-bg-cl: var(--thema-dark-bg-cl);

    //Header
    --theme-light-header-bg: #fcfcfc;
    --theme-dark-header-bg: var(--black);
    --theme-violet-header-bg: var(--white);
    --theme-default-header-bg: var(--theme-dark-header-bg);

    //Thema select
    --theme-light-select-bg: #fcfcfc;
    --theme-dark-select-bg: var(--black-form);
    --theme-violet-select-bg: #fcfcfc;
    --theme-default-select-bg: var(--theme-dark-select-bg);

    --theme-light-select-border: var(--light-green);
    --theme-dark-select-border: var(--light-green);
    --theme-violet-select-border: var(--violet-bg);
    --theme-default-select-border: var(--theme-dark-select-border);

    --thema-light-option-hover-cl: var(--light-green);
    --thema-dark-option-hover-cl: var(--light-green);
    --thema-violet-option-hover-cl: var(--dark-violet);
    --thema-default-option-hover-cl: var(--thema-dark-option-hover-cl);

    //Sidebar
    --theme-light-sidebar-bg: var(--white);
    --theme-dark-sidebar-bg: var(--dark-bg-sidebar);
    --theme-violet-sidebar-bg: var(--dark-violet);
    --theme-default-sidebar-bg: var(--theme-dark-sidebar-bg);

    --theme-light-sidebar-text: var(--black);
    --theme-dark-sidebar-text: var(--white);
    --theme-violet-sidebar-text: var(--white);
    --theme-default-sidebar-text: var(--theme-dark-sidebar-text);

    --theme-light-logo-color: var(--white);
    --theme-dark-logo-color: var(--white);
    --theme-violet-logo-color: var(--dark-violet);
    --theme-default-logo-color: var(--theme-dark-logo-color);

    --theme-light-logo-bg: var(--black);
    --theme-dark-logo-bg: var(--dark-bg);
    --theme-violet-logo-bg: var(--white);
    --theme-default-logo-bg: var(--theme-dark-logo-bg);

    --theme-light-link-bg: var(--light-bg);
    --theme-dark-link-bg: var(--dark-bg);
    --theme-violet-link-bg: var(--dark-grey);
    --theme-default-link-bg: var(--theme-dark-link-bg);

    --theme-light-link-text: var(--black);
    --theme-dark-link-text: var(--white);
    --theme-violet-link-text: var(--white);
    --theme-default-link-text: var(--theme-dark-link-text);

    --theme-light-indicator-color: var(--light-green);
    --theme-dark-indicator-color: var(--light-green);
    --theme-violet-indicator-color: var(--white);
    --theme-default-indicator-color: var(--theme-dark-indicator-color);

    --theme-light-createbutton-color: var(--black);
    --theme-dark-createbutton-color: var(--black);
    --theme-violet-createbutton-color: var(--white);
    --theme-default-createbutton-color: var(--theme-dark-createbutton-color);

    --theme-light-createbutton-bg: var(--light-green);
    --theme-dark-createbutton-bg: var(--light-green);
    --theme-violet-createbutton-bg: #b8bcfd;
    --theme-default-createbutton-bg: var(--theme-dark-createbutton-bg);

    --theme-light-createbutton-focusbg: var(--dark-green);
    --theme-dark-createbutton-focusbg: var(--dark-green);
    --theme-violet-createbutton-focusbg: #979cea;
    --theme-default-createbutton-focusbg: var(
        --theme-dark-createbutton-focusbg
    );

    --theme-light-controlicon-color: rgba(22, 22, 22, 0.5);
    --theme-dark-controlicon-color: rgba(255, 255, 255, 0.5);
    --theme-violet-controlicon-color: rgba(255, 255, 255, 0.5);
    --theme-default-controlicon-color: var(--theme-dark-controlicon-color);

    --theme-light-needhelp-bg: var(--light-bg);
    --theme-dark-needhelp-bg: var(--dark-bg);
    --theme-violet-needhelp-bg: rgba(236, 237, 253, 0.4);
    --theme-default-needhelp-bg: var(--theme-dark-needhelp-bg);

    //Modal
    --theme-light-modal-bg: var(--white);
    --theme-dark-modal-bg: var(--black);
    --theme-violet-modal-bg: var(--white);
    --theme-default-modal-bg: var(--theme-dark-modal-bg);

    --theme-light-modal-color: var(--black);
    --theme-dark-modal-color: var(--white);
    --theme-violet-modal-color: var(--black);
    --theme-default-modal-color: var(--theme-dark-modal-color);

    --theme-light-input-bg: var(--white);
    --theme-dark-input-bg: var(--dark-bg);
    --theme-violet-input-bg: var(--white);
    --theme-default-input-bg: var(--theme-dark-input-bg);

    --theme-light-button-bg: var(--light-green);
    --theme-dark-button-bg: var(--light-green);
    --theme-violet-button-bg: var(--dark-violet);
    --theme-default-button-bg: var(--theme-dark-button-bg);

    --theme-light-button-text: var(--black);
    --theme-dark-button-text: var(--black);
    --theme-violet-button-text: var(--white);
    --theme-default-button-text: var(--theme-dark-button-text);

    //Filter
    --thema-light-filter-btn-cl: rgba(22, 22, 22, 0.8);
    --thema-dark-filter-btn-cl: rgba(255, 255, 255, 0.8);
    --thema-violet-filter-btn-cl: rgba(22, 22, 22, 0.8);
    --thema-default-filter-btn-cl: var(--thema-dark-filter-btn-cl);

    --thema-light-filter-icon-cl: rgba(22, 22, 22, 0.8);
    --thema-dark-filter-icon-cl: rgba(255, 255, 255, 0.8);
    --thema-violet-filter-icon-cl: rgba(22, 22, 22, 0.8);
    --thema-default-filter-icon-cl: var(--thema-dark-filter-icon-cl);

    --thema-light-filter-modal-overlay-cl: rgba(252, 252, 252, 0.5);
    --thema-dark-filter-modal-overlay-cl: rgba(0, 0, 0, 0.5);
    --thema-violet-filter-modal-overlay-cl: rgba(252, 252, 252, 0.5);
    --thema-default-filter-modal-overlay-cl: var(
        --thema-dark-filter-modal-overlay-cl
    );

    --thema-light-filter-title-cl: var(--black);
    --thema-dark-filter-title-cl: var(--white);
    --thema-violet-filter-title-cl: var(--black);
    --thema-default-filter-title-cl: var(--thema-dark-filter-title-cl);

    --thema-light-filter-title-border-cl: rgba(22, 22, 22, 0.1);
    --thema-dark-filter-title-border-cl: var(--dark-grey-line);
    --thema-violet-filter-title-border-cl: rgba(22, 22, 22, 0.1);
    --thema-default-filter-title-border-cl: var(
        --thema-dark-filter-title-border-cl
    );

    --thema-light-filter-modal-border-cl: #fcfcfc;
    --thema-dark-filter-modal-border-cl: rgba(190, 219, 176, 0.5);
    --thema-violet-filter-modal-border-cl: #fcfcfc;
    --thema-default-filter-modal-border-cl: var(
        --thema-dark-filter-modal-border-cl
    );

    --thema-light-filter-modal-bg-cl: rgb(0, 0, 0);
    --thema-dark-filter-modal-bg-cl: var(--black-form);
    --thema-violet-filter-modal-bg-cl: rgb(0, 0, 0);
    --thema-default-filter-modal-bg-cl: var(--thema-dark-filter-modal-bg-cl);

    --thema-light-filter-modal-close-btn-cl: rgb(0, 0, 0);
    --thema-dark-filter-modal-close-btn-cl: var(--white);
    --thema-violet-filter-modal-close-btn-cl: rgb(0, 0, 0);
    --thema-default-filter-modal-close-btn-cl: var(
        --thema-dark-filter-modal-close-btn-cl
    );

    --thema-light-filter-modal-close-icon-cl: var(--black);
    --thema-dark-filter-modal-close-icon-cl: var(--white);
    --thema-violet-filter-modal-close-icon-cl: var(--black);
    --thema-default-filter-modal-close-icon-cl: var(
        --thema-dark-filter-modal-close-icon-cl
    );

    --thema-light-filter-modal-show-cl: rgba(22, 22, 22, 0.5);
    --thema-dark-filter-modal-show-cl: var(--dark-grey);
    --thema-violet-filter-modal-show-cl: rgba(22, 22, 22, 0.5);
    --thema-default-filter-modal-show-cl: var(
        --thema-dark-filter-modal-show-cl
    );

    --thema-light-filter-modal-radio-text-cl: rgba(22, 22, 22, 0.5);
    --thema-dark-filter-modal-radio-text-cl: var(--dark-grey);
    --thema-violet-filter-modal-radio-text-cl: rgba(22, 22, 22, 0.5);
    --thema-default-filter-modal-radio-text-cl: var(
        --thema-dark-filter-modal-radio-text-cl
    );

    --thema-light-filter-modal-radio-text-checked-cl: var(--black);
    --thema-dark-filter-modal-radio-text-checked-cl: var(--white);
    --thema-violet-filter-modal-radio-text-checked-cl: var(--black);
    --thema-default-filter-modal-radio-text-checked-cl: var(
        --thema-dark-filter-modal-radio-text-checked-cl
    );
    //ScreensPage
    --theme-light-card-bg: var(--white);
    --theme-dark-card-bg: var(--dark-bg-sidebar);
    --theme-violet-card-bg: var(--white);
    --theme-default-card-bg: var(--theme-dark-card-bg);

    --theme-light-card-descr: rgba(22, 22, 22, 0.7);
    --theme-dark-card-descr: var(--dark-grey);
    --theme-violet-card-descr: rgba(22, 22, 22, 0.7);
    --theme-default-card-descr: var(--theme-dark-card-descr);

    --theme-light-card-board: rgba(22, 22, 22, 0.3);
    --theme-dark-card-board: var(--light-grey);
    --theme-violet-card-board: rgba(22, 22, 22, 0.3);
    --theme-default-card-board: var(--theme-dark-card-board);

    --theme-light-scroll: #e8e8e8;
    --theme-dark-scroll: var(--dark-grey-line);
    --theme-violet-scroll: #b8bcfd;
    --theme-default-scroll: var(--theme-dark-scroll);

    --theme-light-scroll-bg: var(--white);
    --theme-dark-scroll-bg: var(--black);
    --theme-violet-scroll-bg: var(--white);
    --theme-default-scroll-bg: var(--theme-dark-scroll-bg);
}

body {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--theme-default-body);
    background-color: var(--thema-default-bg-cl);
    overflow-x: hidden;
}
