.nameColumn {
    display: flex;
    border-radius: 8px;
    padding: 18px 20px;
    background-color: var(--theme-default-card-bg);
    justify-content: space-between;
}

.nameColumnBtn {
    display: flex;
    gap: 8px;
}

.name {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--theme-default-modal-color);
}
