@import 'src/styles/mixins';

.button {
    height: 49px;
    border-radius: 8px;
    width: 100%;
    height: 49px;
    background-color: var(--light-green);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--black);
    @include transition(background-color);

    &:is(:hover, :focus) {
        background-color: var(--dark-green);
    }
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 56px;
    composes: button;
}

.buttonColumn {
    background-color: var(--dark-bg-sidebar);
    color: var(--white);
    width: 334px;
    &:is(:hover, :focus) {
        background-color: var(--dark-grey-line);
    }
    composes: buttonWrapper;
}

.buttonRegistration {
    composes: button;
    color: var(--white);
    background-color: var(--black);
}

.plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 6px;
    background-color: var(--black);
}

.plusIcon {
    width: 14px;
    height: 14px;
    stroke: var(--white);
}

.plusColumn {
    background-color: var(--white);
    composes: plus;
}

.plusIconColumn {
    stroke: var(--black);
    composes: plusIcon;
}
