.todoIcon {
    width: 16px;
    height: 16px;
    stroke: var(--thema-default-filter-modal-show-cl);
    fill: transparent;
}

.bellIcon {
    stroke: var(--theme-default-button-bg);
    composes: todoIcon;
}
