@import 'src/styles/mixins';

.simplebar-track.simplebar-vertical {
    right: -12px;
    width: 8px !important;
    border-radius: 12px;
    background-color: var(--dark-grey-line);
}

.simplebar-track.simplebar-horizontal {
    height: 12px !important;
    bottom: -36px;
    border-radius: 12px;
    background-color: var(--dark-grey-line);

    @include media-rules(tablet) {
        bottom: -64px;
    }
    @include media-rules(desktop) {
        bottom: -28px;
    }
}

.simplebar-scrollbar {
    background-color: var(--dark-bg-sidebar);
    border-radius: 12px;
}

.wrapper {
    position: relative;
}

.image {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}

.cont {
    max-width: 320px;
    margin: 0 auto;
    // padding-right: 20px;
    @include media-rules(mobile) {
        max-width: 375px;
    }
    @include media-rules(tablet) {
        max-width: 768px;
        // padding-right: 32px;
    }
    @include media-rules(desktop) {
        max-width: 1440px;
        // padding-right: 24px;
    }

    & .simplebar-track.simplebar-horizontal {
        pointer-events: all;
    }
}
