@import 'src/styles/mixins';

.simplebar-track.simplebar-vertical {
    right: -12px;
    width: 8px !important;
    border-radius: 12px;
    background-color: var(--dark-grey-line);
}

.simplebar-track.simplebar-horizontal {
    height: 12px !important;
    bottom: -36px;
    border-radius: 12px;
    background-color: var(--dark-grey-line);

    @include media-rules(tablet) {
        bottom: -64px;
    }
    @include media-rules(desktop) {
        bottom: -28px;
    }
}

.simplebar-scrollbar {
    background-color: var(--dark-bg-sidebar);
    border-radius: 12px;
}

.wrapper {
    position: relative;
}

.image {
    position: absolute;
    z-index: -1;
}
