.todoCart {
    border-radius: 8px;
    padding: 0px 20px;
    background-color: var(--theme-default-card-bg);
}

.title {
    font-weight: 600;
    letter-spacing: -0.02em;
    padding-bottom: 8px;
    color: var(--theme-default-modal-color);
}

.text {
    font-size: 12px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: var(--theme-default-card-descr);
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
}

.cartTask {
    padding: 14px 0px;
    border-bottom: 1px solid var(--thema-default-filter-title-border-cl);
}

.cartSetting {
    padding: 14px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.listSetting {
    display: flex;
    gap: 14px;
}

.setName {
    font-size: 8px;
    letter-spacing: -0.02em;
    color: var(--thema-default-filter-modal-show-cl);
    padding-bottom: 4px;
}

.setSign {
    font-size: 10px;
    letter-spacing: -0.02em;
    color: var(--theme-default-modal-color);
    display: flex;
    align-items: center;
}

.settingIcon {
    width: 16px;
    height: 16px;
    stroke: var(--dark-grey);
    fill: var(--dark-bg-sidebar);
}

.btnSetting {
    display: flex;
    gap: 8px;
}

.btnBell {
    display: flex;
    gap: 12px;
}

.priorityContainer {
    font-size: 10px;
    letter-spacing: -0.02em;
    color: var(--thema-default-filter-title-cl);
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 16px;
}

.priorityDot {
    position: absolute;
    top: 1px;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
