@import 'src/styles/mixins.scss';

.sidebar {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    height: auto;
    background-color: var(--dark-bg-sidebar);
    width: 225px;
    padding-top: 14px;
    padding-bottom: 14px;
    @include transition(transform);

    @include media-rules(tablet) {
        width: 260px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    @include media-rules(desktop) {
        position: static;
        transform: translateX(0);
    }
}
.active {
    composes:sidebar;
    transform: translateX(0);
}

.logoBordFlex {
    display: flex;
    flex-direction: column;
    gap: 70px;

    @include media-rules(tablet) {
        gap: 60px;
    }
}

.helpLogoutFlex {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
