@import 'src/styles/mixins';

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;

    &:is(:hover, :focus) .text {
        color: var(--theme-default-button-bg);
    }

    &:is(:hover, :focus) .icon {
        stroke: var(--theme-default-button-bg);
    }
}

.text {
    @include transition(color);
}

.icon {
    width: 16px;
    height: 16px;
    fill: transparent;
    stroke: var(--theme-default-bgicon-color);
    @include transition(stroke);
}
