@import 'src/styles/mixins.scss';

.logoutContainer {
    padding: 0 14px;

    @include media-rules(tablet) {
        padding: 0 24px;
    }
}

.logoutButtonFlex {
    display: flex;
    gap: 14px;
    align-items: center;
}

.logoutIcon {
    width: 32px;
    height: 32px;
    stroke: var(--light-green);
    @include transition(all);
}

.logoutIcon:hover,
.logoutIcon:focus {
    stroke: var(--dark-green);
}

.textButtonLogout {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-default-sidebar-text);
}
