@import 'src/styles/mixins.scss';

.logoutContainer {
    padding: 0 14px;

    @include media-rules(tablet) {
        padding: 0 24px;
    }

    &:hover .logoutIcon,
    &:focus .logoutIcon {
        stroke: var(--theme-default-logout-focuscolor);
    }
}

.logoutButtonFlex {
    display: flex;
    gap: 14px;
    align-items: center;
}

.logoutIcon {
    width: 32px;
    height: 32px;
    stroke: var(--theme-default-logout-color);
    @include transition(all);
}

.textButtonLogout {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-default-sidebar-text);
}