@import 'src/styles/mixins.scss';

.logoutContainer {
  width: 105px;
  height: 32px;
  padding: 0 14px;
  
    @include media-rules(tablet) {
      padding: 0 24px;
    }
}

.logoutButtonFlex {
  display: flex;
  gap: 14px;
  align-items: center;
}

.logoutIcon {
  width: 32px;
  height: 32px;
  stroke: var(--white);
}

.logoutIcon:hover,
.logoutIcon:focus {
  stroke: var(--light-green);
}

.helpButtonText {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
}